{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:layout name="Backend" />

<f:section name="main">
	<f:be.container
			pageTitle="Ke Questionnaire Backend Modules"
			includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}">
		<script type="text/javascript" src="{f:uri.resource(path:'Script/jquery-3.7.1.min.js')}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'Script/jquery.tools.full.min.js')}"></script>
		<script type="text/javascript" src="{f:uri.resource(path:'Script/jquery-ui-1.11.4.min.js')}"></script>
		<f:flashMessages />
		<div class="alert alert-info">
			<h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:header" /> "{plugin.header}"</h3>
			<p class="small">from extension template </p>
		</div>
		<hr />
		<f:render partial="Backend/ExportMenu" arguments="{plugin:plugin}"/>
		<hr />
		<f:render partial="Backend/ResultCounter" arguments="{counter:counter}" />
		<hr />
		<f:form id="csvExportForm" class="csvDownload" action="downloadCsv" controller="Export" method="post">
			<f:form.hidden id="pluginUid" name="pluginUid" value="{plugin.uid}" />
			<h5><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.title" /></h5>
			<ul>
				<f:if condition="{counter.all} > {csvExportInterval}"><li><f:form.textfield size="3" id="exportInterval" name="interval" value="{csvExportInterval}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.exportInterval" /></li></f:if>
				<li><f:form.textfield size="3" name="separator" value="{plugin.ffdata.settings.export.csv.separator}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.separator" /></li>
				<li><f:form.textfield size="3" name="text" value="{plugin.ffdata.settings.export.csv.text}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.text" /></li>
				<li><f:form.textfield size="3" name="singleMarker" value="{plugin.ffdata.settings.export.csv.singleMarker}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.singleMarker" /></li>
				<li><f:form.textfield size="10" name="encoding" value="{plugin.ffdata.settings.export.csv.encoding}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.encoding" /></li>
				<li><f:form.checkbox name="showQText" value="1" checked="{plugin.ffdata.settings.export.csv.showQText}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.showQText" /></li>
				<li><f:form.checkbox name="showAText" value="1" checked="{plugin.ffdata.settings.export.csv.showAText}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.showAText" /></li>
				<li><f:form.checkbox name="totalPoints" value="1" checked="{plugin.ffdata.settings.export.csv.totalPoints}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.totalPoints" /></li>
				<li><f:form.checkbox name="questionPoints" value="1" checked="{plugin.ffdata.settings.export.csv.questionPoints}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.questionPoints" /></li>
				<f:if condition="{ke:premiumLoaded()}">
					<li><f:form.checkbox name="averagePoints" value="1" checked="{plugin.ffdata.settings.export.csv.averagePoints}" /> <f:translate key="LLL:EXT:ke_questionnaire_premium/Resources/Private/Language/locallang_mod_export.xlf:csv.options.averagePoints" /></li>
					<li><f:form.checkbox name="averagePointsAll" value="1" checked="{plugin.ffdata.settings.export.csv.averagePointsAll}" /> <f:translate key="LLL:EXT:ke_questionnaire_premium/Resources/Private/Language/locallang_mod_export.xlf:csv.options.averagePointsAll" /></li>
				</f:if>
				<li><f:form.checkbox id="finished" name="finished" value="finished" checked="{plugin.ffdata.settings.export.csv.finished}" /> <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.options.finished" /></li>
			</ul>
			<br />
			<f:if condition="{counter.all} > {csvExportInterval}">
				<script>
					jQuery(document).ready(function () {
						function getStatus() {
							interval = jQuery('#exportInterval').val();
							uid = jQuery('#pluginUid').val();
							all = {counter.all};
							finished = {counter.finished};
							if (jQuery('#finished').attr('checked')){
								max = finished;
							} else {
								max = all;
							}
							jQuery.ajax({
								url: '<f:uri.action action="csvCheckInterval" />',
								type: 'get',
								data: jQuery('#csvExportForm').serialize(),
								dataType: 'json',
								cache: false,
								async: false,
								success: function (data) {
									console.log(data);
									var percentage = parseInt(data);
									jQuery("#intervalInfo").html(percentage);
									if (percentage < max) {
										// Recheck status until completed
										getStatus();
									} else {
										jQuery("#startInterval").removeAttr('disabled');
									}
								}
							});
						}
						jQuery("#startInterval").click(function (event) {
							interval = jQuery('#exportInterval').val();
							uid = jQuery('#pluginUid').val();
							console.log("Started");
							jQuery("#startInterval").attr("disabled", "disabled");
							jQuery.ajax({
								url: '<f:uri.action action="csvInterval" />',
								type: 'get',
								data: jQuery('#csvExportForm').serialize(),
								dataType: 'json',
								cache: false,
								async: true,
								success: function (data) {
									console.log("Finished");
									console.log("startLongProcess returned:" + data);
									window.location.href = '<f:uri.action action="downloadCsvInterval" />&tx_kequestionnaire_kequestionnairebe_kequestionnaireexport[fileName]='+data;
								}
							});
							getStatus();
						});
					});
				</script>
			</f:if>
			<br />
			<div>
				<f:if condition="{counter.all} > {csvExportInterval}"><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.exportInterval.partInfo" /> <span id="intervalInfo">0</span></f:if>
			</div>
			<br />
			<f:if condition="{counter.all} > {csvExportInterval}">
				<f:then>
					<f:form.button onclick="return false;" id="startInterval">{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.exportInterval.start')}</f:form.button>
				</f:then>
				<f:else>
					<f:form.submit value="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xlf:csv.download')}" />
				</f:else>
			</f:if>
		</f:form>
	</f:be.container>
</f:section>