{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<ke:checkDependancies question="{question}" result="{newResult}">
    <div class="keqQuestion" id="keq{question.uid}">
        <f:form.hidden property="questions.{question.uid}.question" value="{question.uid}" />
        <f:form.hidden name="answerErrors[]" id="keqAnswerErrorQ{question.uid}" value="{f:if(condition:'{question.minAnswers}',then:1,else:0)}" />
        <f:render partial="Question/QuestionTitle" arguments="{question: question}" />
        <div class="answerInfo" id="keq{question.uid}info"></div>

		<f:variable name="maxAnswers"></f:variable>
		<f:if condition="{question.maxAnswers}">
			<f:variable name="maxAnswers"> hasMaxAnswers </f:variable>
		</f:if>

		<f:variable name="minAnswers"></f:variable>
		<f:if condition="{question.minAnswers}">
			<f:variable name="minAnswers"> hasMinAnswers </f:variable>
		</f:if>

        <div class="keqAnswerBox {minAnswers} {maxAnswers}" data-minanswers="{question.minAnswers}" data-maxanswers="{question.maxAnswers}">
        <f:render partial="Question/QuestionMandatory" arguments="{question: question}" />
	    <f:for each="{question.answers}" as="answer">
                <f:if condition="{question.columnCount} > 0">
                    <div class="keqAnswerColumns" style="width:{question.columnPercent}%;">
                </f:if>			
                <f:if condition="{answer.template}">
                    <f:then>
                        <ke:renderPartial partial="{answer.template}" arguments="{question: question, answer: answer, newResult: newResult}" />
                    </f:then>
                    <f:else>
						<f:render partial="Answer/{answer.shortType}" arguments="{question: question, answer: answer, newResult: newResult}" />
                    </f:else>
                </f:if>
                <f:if condition="{question.columnCount} > 0">
                    </div>
                </f:if>
            </f:for>		
        </div>
        <div class="clearer">&nbsp;</div>
    </div>
</ke:checkDependancies>