{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<f:layout name="Backend" />

<f:section name="main">

	<h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xlf:codes.create" /></h3>
	<hr />
	<b>{questionnaire.uid} {questionnaire.header} (Pid: {questionnaire.storagePid})</b><br />

	<form class="form-inline border p-2" name="authCodes" role="form" id="createAuthCodesForm" action="{be:moduleLink(route:'kequestionnairebe_createauthcodes', arguments: '{function: \'createAuthCodes\',moduleData: \'createAuthCodes\',id: id, uid: questionnaire.uid}')}" method="post">
		<input type="hidden" name="uid" value="{questionnaire.uid}" />
		<input type="hidden" name="id" value="{questionnaire.storagePid}" />

		<f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xlf:codes.createLabel" />: <input type="number" name="amount" value="1" min="1" max="10"/><br>
		<f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xlf:authCodeLength" />: <input type="number" name="length" value="{authCodeLength}" min="3" max="20"/>
		<br>
		<br>
		<input  type="submit" value="{f:translate(key: 'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xlf:codes.createSubmit')}" class="btn btn-primary" />
	</form>


</f:section>